<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
  </head>
  <body>
    <div class="topnav">
      <a href="#home">Your Trips</a>
      <a href="#home">Create a Trip</a>

      <!-- <a href="{% url 'logout'%}">Logout</a> -->
      {% if user.is_authenticated %}

      <li class="nav-item">
        <a class="text-light nav-link"
        href="javascript:{document.getElementById('logout').submit()}">logout</a>
      </li>

      <form id="logout"action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" />
      </form>

      {% else %}
      <a href="{% url 'login'%}">Login</a>
      <a href="{% url 'signup'%}">SignUp</a>
      {% endif %}
      <li class="nav-item">
        <a class="text-light nav-link" href="{% url 'admin:index'%}">Admin</a>
      </li>

      <div class="container">
        {% block base %}

        {% endblock%}
      </div>
      <footer class="mt-5 text-muted">
      <div class="container">
        <p class='text-danger text-center'>&copy; BrewTrip <i class="fab fa-python"></i> {% now 'Y'%}</p>
      </div>
      </footer>
    </div>
  </body>
</html>
