{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% block base %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'js/cityForm.js' %}"></script>
</head>
<body>
  <div class="plan">


    {% if breweries %}

    {%for brewery in breweries%}
    <form action="{% url 'brewmap' %}" method="POST">
      {% csrf_token %}
      <p><strong>{{brewery.name}}</strong></p>

      <p>Address: {{brewery.street}}</p>

      <p>{{brewery.city}}, {{brewery.state}} {{brewery.zip}}</p>


      <p>Phone: {{brewery.phone}}</p>

      <a href='{{brewery.url}}'>{{brewery.name}} website</a>

      <hr>
    </form>

    <!-- http://jsfiddle.net/kbwood/DLprk/ -->
    <input type="text" id="url" value="{{location.reviewlink}}">
    <button width="500" height="200" type="button" id="load">Show Brewery Details</button>

    <form id="delete-{{brewery.id}}" action="{% url 'delete' brewery.id %}" method="POST">
      {%csrf_token%}
      <input type="hidden"/>
    </form>

    {% endfor%}
    {%else%}
    <h3> No breweries here!v</h3>
    {% endif %}
  </div>
  </body>
</html>
{% endblock%}
