{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% block base %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  
</head>

<div class="plan">
  {% if locations %}
  {%for location in locations%}
  <form action="{% url 'brewmap' %}" method="POST">
    {% csrf_token %}
    <p><strong>{{location.name}}</strong></p>
    <input type="hidden" name="brewery_name" value="{{location.name}}" />

    <p>Address: {{location.street}}</p>

    <p>{{location.city}}, {{location.state}} {{location.zip}}</p>

    <input type="hidden" name="brewery_address" value="{{location.street}} {{location.city}}, {{location.state}} {{location.zip}}" />

    <p>Phone: {{location.phone}}</p>

    <a href='{{location.url}}'>{{location.name}} website</a>
    <input type="hidden" name="brewery_url" value="{{location.url}}" />

    <div>
      <input class="form-button" type="submit" value="Add Brewery" />
    </div>
    <hr>
  </form>
  {% endfor%}
  {%else%}
  <h3> No data to display, please enter an API Key to .env</h3> {% endif %}
</div>
</html>
{% endblock%}
