{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% block base %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Your Trips</title>
</head>
{% if error %}
<h6 class="error">{{error}}</h6>
{%else%}
<div class='plan'>
  <h2>Create new BrewTrip</h2>
  {%endif%}
  <form action="{% url 'create' %}" method="POST">

    {% csrf_token %}
    {% for field in plan_form %}
    {% if field.name == 'brewery_address' %}

    <div class='plan-fields'>{{ field.label }}:
      <textarea name="{{field.name}}"></textarea>
    </div>
    <span class="error">{{field.errors}}</span>

    {% else %}
    <div class='plan-fields'>
    {{ field.label }}:
      <input type="text" name="{{field.name}}" />
    </div>
    <span class="error">{{field.errors}}</span>
    {% endif %}
    {% endfor %}
    <div>
      <input class="plan-button" type="submit" value="Add Brewery" />
    </div>
  </form>
</div>

{% endblock%}
