<!DOCTYPE html>
{% extends 'base.html' %}
{% block base %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Trips</title>
  </head>
  <body>
    <h2>Your BrewTrips</h2>
    <div class="breweries">
      {%if breweries%}
      {% for brewery in breweries%}
      <div>
        <div class="card-body">
          <h2>{{brewery.brewery_name}}</h2>
          <p>{{brewery.brewery_address}}</p>
          <a href="{{brewery.brewery_url}}">{{brewery.brewery_url}}</a>
          <div>
            Added on {{brewery.prettify_datetime}}
          </div>
        </div>
      </div>
      {% endfor %}
      {%else%}
      <h2 class='breweries'>No breweries added</h2>
      {%endif%}
    </div>

  </body>
</html>
{%endblock%}
