{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% block base %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Trips</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/cityForm.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>
  <body>
    <div class='outer'>

      <div class="container">
        <h2>{{title}}, welcome to your BrewTrips</h2>


        {% if user.is_authenticated %}

        {%if breweries%}

          {% for brewery in breweries%}
            <div>
              <div class="card-body">

                <h1>{{brewery.brewery_city}}</h1>
                <h2>{{brewery.brewery_name}}</h2>
                <p>{{brewery.brewery_address}}</p>
                <a href="{{brewery.brewery_url}}">{{brewery.brewery_url}}</a>
                <p>Added on {{brewery.prettify_datetime}}</p>
                <a href="javascript:{document.getElementById('delete-{{brewery.id}}').submit()}" >
                <button class="form-button">Remove Brewery</button>
                </a>

                <a id="favorite" href="javascript:{document.getElementById('update-{{brewery.id}}').submit()}">
                  {%if brewery.favorite_brewery is True%}<i class="far fa-star fa-2x"></i>
                  {%else%}<p>Favorite?</p>
                  {%endif%}</a>

                <form id="update-{{brewery.id}}" action="{% url 'update' brewery.id %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" />
                </form>


                <form id="delete-{{brewery.id}}" action="{% url 'delete' brewery.id %}" method="POST">
                  {%csrf_token%}
                  <input type="hidden"/>
                </form>


              </div>
            </div>
            {% endfor %}

          {%else%} <!--there were no breweries but user is is_authenticated-->

          <h2 class='breweries'>Add some breweries!</h2>

          {%endif%}

        {%else%}

        <h3>Welcome to BrewTrip! Plan brewery visits for your upcoming vacations</h3>

        {%endif%}
      </div>
    </div>
  </body>
</html>
{%endblock%}
